body {
    margin: 0;
    overflow: hidden;
}

.editor__Main {
    position: relative;
}

.editor__MouseMove {
    cursor: move;
}

.editor__Container {
    padding: 0.3rem;
    border-radius: 4px;
    color: #839496;
    background-color: #eee8d5;
    pointer-events: auto;
}

.editor__ContainerTopLeftLeft {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.editor__ContainerTopLeft {
    position: absolute;
    top: 1rem;
    left: 5rem;
}

.editor__ContainerTopRight {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.editor__ContainerBottomLeft {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    max-height: 13rem;
    overflow-y: auto;
}

.editor__ContainerBottomRight {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    max-height: 13rem;
    overflow-y: auto;
}
