.tool__ToolBox {
    background-color: #eee8d5;
    pointer-events: auto;
    display: flex;
}

.tool__ValueContainer {
    position: relative;
    display: flex;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin: 2px;
    border: 0;
}

.tool__ValueContainer:hover {
    margin: 0;
    border: 2px solid #839496;
}

.tool__Textfield {
    border-color: transparent;
    font-family: monospace;
    font-size: 1rem;
    line-height: 1rem;
    width: 20rem;
    background-color: transparent;
}

.tool__Textfield:focus {
    outline: none;
}

.tool__IconContainer {
    position: absolute;
    right: 0.3rem;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.tool__Button {
    text-align: center;
    width: 10rem;
    height: 2rem;
    line-height: 2rem;
    color: #839496;
    background-color: #002b36;
    cursor: pointer;
}

.tool__Button:hover {
    background-color: #073642;
}

.tool__MenuContainer {
    position: absolute;
    left: -2px;
    top: 100%;
    max-height: 6rem;
    width: 100%;
    margin: 0;
    border: 2px solid #839496;
}

.tool__MenuTextfield {
    width: 10rem;
}

.tool__MenuList {
    width: 100%;
    background-color: #eee8d5;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: monospace;
    font-size: 1rem;
    line-height: 1rem;
}

.tool__MenuItem {
    padding: 0.2rem;
}

.tool__MenuItemSelected {
    background-color: #fdf6e3;
}
