.absoluteToolBox {
    background-color: #eee8d5;
    width: 10rem;
    pointer-events: auto;
}

.absoluteButton {
    text-align: center;
    width: 10rem;
    height: 2rem;
    line-height: 2rem;
    color: #839496;
    background-color: #002b36;
    cursor: pointer;
}

.absoluteButton:hover {
    background-color: #073642;
}

.absoluteTextfield {
    border-color: transparent;
    font-family: monospace;
    font-size: 1rem;
    line-height: 1rem;
    width: 4.8rem;
    background-color: transparent;
}

.absoluteTextfield:focus {
    outline: none;
    border-color: #073642;
}

.absoluteRow {
    display: flex;
    flex-flow: row;
    width: 10rem;
    align-items: stretch;
}

.absoluteColumn {
    display: flex;
    align-items: baseline;
    padding: 0.2rem;
    font-family: monospace;
    font-size: 1rem;
    line-height: 1rem;
}

.absoluteIconButton {
    font-size: 1rem;
    line-height: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    color: #839496;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}

.absoluteIconButton:hover {
    background-color: #073642;
}

.absoluteIcon {
    font-size: 0.9rem;
    line-height: 0.9rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.absoluteVariableName {
    font-size: 1rem;
    line-height: 1rem;
    padding-right: 0.4rem;
}
